@model Oficial3.Models.Pecas

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pecas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_Pecas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Pecas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco_Pecas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_Pecas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo1.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo1.descricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "IndexPecas")
        </div>
    }
</div>
