@model Oficial3.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_Usuario }) |
    @Html.ActionLink("Back to List", "IndexUsuario")
</p>
